@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #f5f9fd;
}

a {
  text-decoration: none;
  position: relative;
  transition: opacity 300ms ease;
}

li {
  list-style-type: none;
}

i:hover {
  opacity: 0.7;
}

.link__hover--effect:after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: rgb(155, 157, 132); /* Change to yellow */
  width: 0;
  bottom: -3px;
  left: 0;
  transition: all 300ms ease;
}

.link__hover--effect:hover:after {
  width: 100%;
  right: 0;
}

.link__hover-effect--white::after {
  background-color: white;
}

.body {
  display: flex;
}

section {
  flex: 1;
}

nav {
  background: #5f1d72; /* Change to purple */
  width: 200px;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.nav__logo--img {
  height: 40px;
  width: 40px;
  margin: 20px 0 20px 20px;
}

.nav__logo--wrapper {
  display: flex;
  align-items: center;
  padding: 7px;
  margin-bottom: 20px;
  border-bottom: 1px solid #5f1d72;
}

.nav__logo--text {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff; /* Change to yellow */
  margin-left: 3px;
}

.nav__links--primary {
    font-size: small;
  padding: 20px;
}

.nav__links--secondary {
    font-size: small;
  padding: 20px;
}

.nav__notification {
  padding-top: 100px;
}

.logout {
  padding-top: 100px;
  padding-left: 20px;
}

.nav__links--primary::after,
.nav__links--secondary::after {
  content: "";
  display: block;
  display: flex;
  width: 80%;
  height: 1px;
  right: 10px;
  background-color: #ffffff;
  margin-top: 10px;
}

.nav__link {
  display: flex;
  align-items: center;
  padding: 6px 25px;
  cursor: pointer;
  color: #ffffff;
}

.nav__link:hover {
  color: #a3a3a3; /* Change to yellow */
}

.nav__link:hover .nav__link--logo i {
  color: #a3a3a3; /* Change to yellow */
}

.nav__link:hover a {
  color: #a3a3a3; /* Change to yellow */
}

.nav__link--logo {
  margin-right: 10px;
}

.nav__link--logo i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  height: 32px;
  width: 32px;
}

.nav__link a {
  text-decoration: none;
}

.nav__notification {
  padding-left: 10%;
  border-radius: 10px;
}

.nav__notification--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 150px;
  background-color: #7d4c7e; /* Change to purple */
  border-radius: 20px;
}

.nav__notification--wrapper > h3,
p {
  text-align: center;
  color: rgb(255, 255, 255); /* Change to yellow */
  padding: 10px;
}

#dashboard {
  background-color: #272727;
  width: 100%;
}

.dashboard__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard__text {
  flex: 1;
}

.dashboard__text h1 {
  color: #d3d3d3; /* Change to yellow */
  font-size: 18px;
  padding-left: 20px;
}

.dashboard__text p {
  color: #acafc2;
}

.dashboard__actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.dashboard__actions .peer-support-button,
.dashboard__actions .crisis-line-button {
  background-color: #5d376cd8; /* Change to purple */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 36px;
}

.user-info p {
  margin-left: 10px;
}

#home {
  background-color: #fff;
  padding: 20px;
}

.search {
  border: 1px solid rgb(255, 255, 255);
  padding: 12px 24px;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #f5f9fd;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.search-bar input {
  flex: 1;
  color: #535353;
  border: none;
  outline: none;
  font-size: 15px;
}

.search-buttons {
  display: flex;
}

.search-buttons button {
  background: none;
  border: none;
  cursor: pointer;
}

.search-options ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding: 0px 0px;
}

.search-options ul li {
  cursor: pointer;
  padding-right: 32px;
}

.search-result > h2 {
  color: #070707; /* Change to yellow */
  text-align: left;
  padding-top: 20px;
}

.search-result > p {
  color: #353535;
  text-align: left;
  padding: 10px;
}

footer {
  background-color: #841d1d;
}

.footer__list {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.footer__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8% 0;
}

.footer__link,
.footer__copyright,
.footer__logo--popper {
  color: #aa00ff;
}

